/* Global CSS */
@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap");
/* @import url("https://fonts.googleapis.com/css?family=Montserrat:400,700"); */

* {
    font-family: "Readex Pro";
    line-height: 1.5em;
    box-sizing: border-box;
    color: #000;
}

body {
    background-color: rgb(249, 250, 251);
    padding: 28px 12%;
}

p,
span,
li {
    color: rgb(51 51 51);
    font-size: 1em;
}

a,
h3 {
    text-decoration: none;
    color: mediumslateblue;
    font-weight: 500px;
}

li {
    line-height: 1.9em;
}

/* Container Styling */
#container--main {
    max-width: 700px;
    margin: 0 auto;
}

.section--page {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

/* Navbar */
.navbar {
    padding-bottom: 20px;
    margin: 0 auto;
    text-align: center;
}

.nav-links {
    padding-left: 0px;
}

.nav-links a {
    padding-right: 20px;
    font-size: 1.05em;
}

/* Intro Section */
#user-name {
    font-size: 2em;
    line-height: 1em;
}

#bio,
a {
    font-weight: 300;
}

#email {
    color: rgb(51 51 51);
}

/* Social-page Section */
#socials--list a {
    padding-right: 20px;
    font-size: 1em;
    color: rgb(51 51 51);
    transition: 0.3s;
}

#socials--list a:hover {
    color: mediumslateblue;
}

/* Tech Stack */
#wrapper--techstack__items {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    font-size: 0.9em;
}

.card--techstack {
    border: 1px solid rgb(51 51 51);
    padding: 0.5em 1em;
    border-radius: 5px;
}

/* Work History */
.card--work-history {
    margin-top: 2em;
    margin-bottom: 2em;
}

.line-break {
    background-color: #2b3031;
    height: 1px;
}

/* Projects */
.card--project {
    padding-top: 0.1em;
    padding-bottom: 1em;
}

.card--project a {
    color: rgb(51 51 51);
    transition: 0.3s;
}

.card--project a:hover {
    color: mediumslateblue;
}

/* Footer */
footer {
    margin: 0 auto;
    text-align: center;
}

.footer-links {
    padding-left: 0px;
}

.footer-links a {
    padding-right: 20px;
}

/* Contact form */
.feedback-input {
    color: black;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border: 2px solid mediumslateblue;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
}

.feedback-input:focus {
    border: 2px solid #CC4949;
}


[type="submit"] {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 20%;
    background: mediumslateblue;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: white;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 700;
}

[type="submit"]:hover {
    background: #7b68ee;
}