@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Readex Pro';
    line-height: 1.5em;
    box-sizing: border-box;
    color: #000;
}

body {
    background-color: rgb(249, 250, 251);
    padding: 28px 12%;
}

p, span, li {
    color: rgb(51 51 51);
    font-size: 1em;
}

a {
    text-decoration: none;
    color: mediumslateblue;
    font-weight: 500;
}

li {
    line-height: 1.9em;
}

/* Container Styling */
#container--main {
    max-width: 700px;
    margin: 0 auto;
}

/* Navbar */
.navbar {
    padding-bottom: 20px;
}

.nav-links {
    padding-left: 0px;
}

.nav-links a{
    padding-right: 20px
}

/* Intro Section */
.section--page {
    padding-top: .5em;
    padding-bottom: .5em;
}

#user-name {
    font-size: 2em;
    line-height: 1em;
}

#bio, a {
    font-weight: 300;
}

#email {
    color: rgb(51 51 51);
}

/* Social-page Section */
#socials--list a{
    padding-right: 20px;
    font-size: 1em;
    color: rgb(51 51 51);
    transition: 0.3s;
}

#socials--list a:hover {
    color: mediumslateblue;
}

#wrapper--techstack__items {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    font-size: 0.9em;
}

.card--techstack {
    border: 1px solid rgb(51 51 51);
    padding: 0.5em 1em;
    border-radius: 5px;
}
